/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

h2, h3, h4{
    color: white;
}

h2{
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-size: 2,5rem;
}

h3{
    margin-top: 1rem;
}

h4{
    margin-top: 1rem;
}

/* main-block rules */
#wrapper{
    display: flex;
    height: calc(100vh - 150px);
    /* DEBUG */
    background-color: red;
}

/* main nav */
#wrapper nav{
    height: 100%;
    width: 250px;
    /* DEBUG */
    background-color: blueviolet;
    display: flex;
}


/* content part */

#wrapper main{
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    /* DEBUG */
    background-color: green;
}

#upgrade-bar{
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: right;
    align-items: center;
}

#upgrade-btn{
    height: 30px;
    width: 180px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upgrade-btn a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    
}





.row{
    display: flex;
}


.col{
    padding-left: 1rem;
    padding-right: 1rem;
}




/* controller */
#player{
    height: 150px;
    background-color: darkgray;
}