/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

h2, h3, h4{
    color: white;
}

h2{
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-size: 2,5rem;
}

h3{
    margin-top: 1rem;
}

h4{
    margin-top: 1rem;
}

/* main-block rules */
#wrapper{
    display: flex;
    height: calc(100vh - 100px);
    /* DEBUG */
    background-color: red;
}

/* main nav */
#wrapper nav{
    height: 100%;
    width: 250px;
    /* DEBUG */
    background-color: blueviolet;
    
}


#logo-spoty{
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 70%;
}

.placeholder{
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.placeholder img{
    width: 20%;
    padding-left: 1rem;
}

.placeholder h3{
    margin-left: 1rem;
}

#playlist i{
    color: white;
    font-size: 2rem;
    padding-left: 1rem;
}



#playlist ul{
    margin-left: 1rem;
    list-style: none;
    color: white;
}

#playlist h3{
    margin-left: 1rem;
}

#download{
    margin-left: 1rem;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid white;
}

#download img{
    width: 10%;
    padding-right: 0.5rem;
}

#download span{
    color: white;
}

#profile{
    padding-left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

#profile img{
    width: 10%;
    padding-right: 0.5rem;
}







/* content part */

#wrapper main{
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    /* DEBUG */
    background-color: green;
}

#upgrade-bar{
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: right;
    align-items: center;
}

#upgrade-btn{
    height: 30px;
    width: 180px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upgrade-btn a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    
}





.row{
    display: flex;
}


.col{
    padding-left: 1rem;
    padding-right: 1rem;
}




/* controller */
#player{
    height: 100px;
    background-color: darkgray;
}