/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

h2,
h4,
h5{
    color: white;
}

.grey-text{
    color: #787a7f;
}

ul{
    list-style: none;
}

/* EFFETTI HOVER */
.hover-white:hover{
    color: #fff;
}

.hover-transform:hover{
    transform: scale(1.1);
}

/* hover card */
.container-img-album:hover .fa-circle-play.hover-play{
    opacity: 1;
}

.card:hover img{
    opacity: 0.5;
}
/* Hover player */

.barra-ascolto:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.barra-ascolto:hover .point{
    display: block;
}

/* Effetti active */
.placeholder:active{
    border-left: 2px solid greenyellow;
    padding-left: 2px;
}

.active-bottom:active{
    border-bottom: 2px solid greenyellow;
    padding-bottom: 5px;
}


/* main-block rules */
#wrapper{
    display: flex;
    height: calc(100vh - 80px);
    
}

/* main nav */
#wrapper nav{
    height: 100%;
    width: 200px;
    padding: 10px;
    background-color: #000; 
}

.nav-container{
    height: 150px;
}

#logo-spotify{
    width: 130px;
    margin-bottom: 15px;
}

.logo-xs{
    display: none;
}

.nav-container > div{
    position: relative;
}

/* Home, search, library icons */
.icona-nav{
    width: 25px;
}

.text-header{
    margin-left: 5px;
    position: absolute;
    top: 25%;
}

.playlist{
    height: calc(100% - 210px);
    overflow: visible;
}

.playlist > div{
    position: relative;
}

/* create playlist icon*/
.fa-square-plus{
    margin-bottom: 10px;
    font-size: 35px;
    color: #787a7f;
}

.add-playlist{
    margin-left: 5px;
    position: absolute;
    top: 25%;
}

#playlist{
    font-size: 15px;
    margin: 10px 0;
}

.playlist li{
    line-height: 25px;
    font-size: 12px;
}

.footer-nav{
    height: 50px;
    position: absolute;
    top: 250%;
}

.img-download{
    width: 10px;
}

hr{
    margin: 10px 0;
}

.fa-user{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    padding: 5px;
    background-color: #787a7f;
}

.nome-utente{
    display: inline-block;
}

/* content part */

#wrapper main{
    overflow: auto;
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
}

.payoff{
    height: 60px;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 999;
}

/* Upgrade button */

.payoff a{
    border: 1px solid white;
    border-radius: 999px;
    padding: 8px 15px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-right: 10px;

}

/* Upgrade bar */
.lista-superiore{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lista-superiore li{
    margin: 15px 10px;
    font-size: 10px;
}

/* card rules */
.songs{
    padding: 10px 20px;
}

.row{
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.card{
    width: calc(100% / 6);
    color: white;
    text-align: center;
}

.container-img-album{
    position: relative;
}

.fa-circle-play.hover-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    opacity: 0;
}

.container-img-album img{
    max-width: 100%;
    margin-bottom: 10px;
}

.subtitle-song{
    font-size: 10px;
    margin: 10px 0;
}

.round-img{
    border-radius: 999999px;
}

/* Player rules */
.player{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #282828;
}

.content-sx{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    margin-left: 10px;
}

.content-sx > img{
    max-height: 50%;
    margin-right: 10px;
}

.content-sx span{
    font-size: 10px;
}

.testo-in-ascolto{
    margin-right: 30px;
}

.icon-heart-folder{
    display: flex;
}

.fa-heart,
.fa-folder{
    margin: 5px;
}

.content-center{
    flex-basis: 50%;
    text-align: center;
}

.player-buttons i{
    color: white;
    margin: 10px;
}

.fa-circle-play{
    font-size: 25px;
}

.minuti-ascolto{
    color: #fff;
    margin: 5px;
    font-size: 10px;
}

.barra-caricamento{
    display: inline-block;
    height: 4px;
    background-color: #5a5a5a;
}

.barra-caricamento.musica{
    width: 80%;
}

.barra-ascolto{
    height: 4px;
    background-color: lightgray;
    position: relative;
}

.barra-ascolto.musica{
    width: 25%;
}

.point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
}

.content-dx{
    display: flex;
    align-items: center;
    flex-basis: 20%;
    justify-content: end;
    margin-right: 10px;
}

.content-dx i{
    font-size: 12px;
    color: white;
    margin: 10px;
}

.barra-caricamento.volume{
    width: 50%;
}

.barra-ascolto.volume{
    width: 50%;
}

@media screen and (max-width: 768px) {
    .row{
        flex-wrap: wrap;
        gap: 10px;
    }

    .card{
        width: 22%;
    }

    .title-song{
        font-size: 10px;
    }

    .subtitle-song{
        font-size: 7px;
        margin: 5px 0;
    }

    .barra-caricamento.musica{
        width: 70%;
    }

    .testo-in-ascolto{
        margin-right: 10px;
    }

    .content-dx i{
        margin: 5px;
    }

}

@media screen and (max-width: 568px) {
    .card{
        width: 45%;
    }

    .title-song{
        font-size: 15px;
    }

    .subtitle-song{
        font-size: 10px;
    }

    .icon-heart-folder{
        display: block;
    }

    .content-sx span{
        font-size: 7px;
    }

    .fa-heart,
    .fa-folder{
        margin: 5px;
    }

}

@media screen and (max-width: 530px) {

    #wrapper nav{
        width: 50px;
    }

    .nav-container{
        height: calc(100% - 50px);
    }

    #wrapper main{
        width: calc(100% - 50px);

    }

    .logo-xs{
        display: inline-block;
        color: #fff;
        width: 30px;
        margin-bottom: 10px;
    }

    #logo-spotify,
    .text-header,
    .playlist,
    .footer-nav span,
    hr,
    .nome-utente{
        display: none;
    }

    .footer-nav img{
        margin: 10px auto;
        display: block;
    }
    
}